<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inicio - Evaluación 3 por Alejandro García</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <style>
    body {
      font-family: 'Calibri', sans-serif;
    }
  </style>
</head>

<body>
  <main>
    <div class="button-container">
      <a href="ejercicio1" class="button primary"><u>Ejercicio 1</u></a>
      <a href="ejercicio2" class="button primary"><u>Ejercicio 2</u></a>
    </div>
  </main>
</body>

</html>